@font-face {
		font-family: 'Muller';
		src: url('../fonts/Fontfabric - MullerLight.otf') format('opentype'),
				url('../fonts/fontfabric_-_mullerlight-webfont.woff2') format('woff2'),
				url('../fonts/fontfabric_-_mullerlight-webfont.woff') format('woff');
		font-weight: 300;
		font-style: normal;
}

@font-face {
		font-family: 'Muller';
		src: url('../fonts/Fontfabric - MullerRegular.otf') format('opentype'),
				url('../fonts/fontfabric_-_mullerregular-webfont.woff2') format('woff2'),
				url('../fonts/fontfabric_-_mullerregular-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'Muller';
		src: url('../fonts/Fontfabric - MullerMedium.otf') format('opentype'),
				url('../fonts/fontfabric_-_mullermedium-webfont.woff2') format('woff2'),
				url('../fonts/fontfabric_-_mullermedium-webfont.woff') format('woff');
		font-weight: 500;
		font-style: normal;
}

/*@font-face {
		font-family: 'Muller';
		src: url('../fonts/Fontfabric - MullerBold.otf') format('opentype'),
				url('../fonts/fontfabric_-_mullerextrabold-webfont.woff2') format('woff2'),
				url('../fonts/fontfabric_-_mullerextrabold-webfont.woff') format('woff');
		font-weight: 700;
		font-style: normal;
}/ */

@font-face {
		font-family: 'Muller';
		src: url('../fonts/Fontfabric - MullerExtraBold.otf') format('opentype'),
				url('../fonts/fontfabric_-_mullerextrabold-webfont.woff2') format('woff2'),
				url('../fonts/fontfabric_-_mullerextrabold-webfont.woff') format('woff');
		font-weight: 800;
		font-style: normal;
}
